{% extends "main/base.html" %}

{% block content %}
<h1>Edit Contact - {{ contact.first_name }} {{ contact.last_name }}</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.first_name.label }} {{ form.first_name(size=30) }}<br>
    {{ form.last_name.label }} {{ form.last_name(size=30) }}<br>
    {{ form.company_name.label }} {{ form.company_name(size=30) }}<br>
    {{ form.address.label }} {{ form.address(size=50) }}<br>
    {{ form.phone.label }} {{ form.phone(size=20) }}<br>
    {{ form.email.label }} {{ form.email(size=30) }}<br>
    {{ form.fax.label }} {{ form.fax(size=20) }}<br>
    {{ form.mobile.label }} {{ form.mobile(size=20) }}<br>
    {{ form.comment.label }}<br>
    {{ form.comment }}<br>

    <label for="tags">Tags:</label>
    <select name="tags" id="tags" multiple>
        {% for tag in tags %}
        <option value="{{ tag.id }}"
            style="color: {{ tag.color }}; font-weight: bold;"
            {% if tag in contact.tags %}selected{% endif %}>
            ● {{ tag.name }}
        </option>
        {% endfor %}
    </select><br>

    <!-- Buttons aligned horizontally with margin between them -->
    <div style="margin-top: 20px;">
    <button type="submit">Update Contact</button>
        <a href="{{ url_for('main.contacts') }}">
            <button type="button" style="margin-left: 10px;">Return to Contacts</button>
        </a>
    </div>
</form>
{% endblock %}
