{% extends "main/base.html" %}

{% block content %}
    <header>
        <h1>Welcome, {{ user.username }}!</h1>
    </header>

    <main>
        <section>
            <h2>Actions</h2>
            <div class="button-container">
                <a href="{{ url_for('main.contacts') }}" class="button">Contacts</a>
                <a href="{{ url_for('main.import_data') }}" class="button">Import Data</a>
                <a href="{{ url_for('main.manage_tags') }}" class="button">Manage Tags</a>
                <a href="{{ url_for('main.profile') }}" class="button">Profile</a>
                <a href="{{ url_for('auth.logout') }}" class="button">Logout</a>
            </div>
        </section>
    </main>
{% endblock %}
